<!DOCTYPE html>
<html>
<body>

<h1>select what you want to modify</h1>

<form action="/accountchange/details" method="POST">
    <label for="">click on drop down:</label>
    <select name="details" id="details">
        <option value="firstname">First Name</option>
        <option value="lastname">Last Name</option>
        <option value="email">Email</option>
        <option value="address">Address</option>
    </select>
    </br></br>

    <input type="submit" value="Select"/>
</form>


</body>
</html>
