<!DOCTYPE HTML>
<html xmlns:th="https://www.thymeleaf.org">
<!-- This page displays the Customer Support details.
       @author: Namit Prakash Dadlani
-->
<head>
    <title>Accounts Homepage</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-left">Customer Support</h1>
        </div>
    </div>
    <div class="border border-secondary">
    <div class="row">
        <div class="col-md-4">
            <h3 class="text-left">Savings Account Team</h3>
            <h5>Amelia Evans</h5>
            <h5>Email: amelia@bank.com</h5>
            <h5>Phone: 902 180 1555</h5>
            <h5>Office Hours: 10AM-5PM</h5>
        </div>
        <div class="col-md-4">
            <h3 class="text-left">New Account Team</h3>
            <h5>Parker Koch</h5>
            <h5>Email: parker@bank.com</h5>
            <h5>Phone: 902 180 1666</h5>
            <h5>Office Hours: 10AM-5PM</h5>
        </div>
    </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-left">Policy Changes</h3>
                <h5>Tyron Huber</h5>
                <h5>Email: tyron@bank.com</h5>
                <h5>Phone: 902 180 1234</h5>
                <h5>Office Hours: 10AM-5PM</h5>
            </div>
            <div class="col-md-4">
                <h3 class="text-left">Cyber Security Team</h3>
                <h5>Ava Lewis</h5>
                <h5>Email: ava@bank.com</h5>
                <h5>Phone: 902 180 6655</h5>
                <h5>Office Hours: 10AM-5PM</h5>
            </div>
        </div>
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-left">Other Queries</h3>
                <h5>Blade Davidson</h5>
                <h5>Email: blade@bank.com</h5>
                <h5>Phone: 902 180 7777</h5>
                <h5>Office Hours: 10AM-2PM</h5>
            </div>
        </div>
    </div>


</div>

</body>
</html>