<!DOCTYPE HTML>
<html>
<head>
    <title>Accounts Homepage</title>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type"/>
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
<div class="container-fluid">
    <div class="row">
        <div class="col-md-12">
            <h1 class="text-left">Frequently Asked Questions</h1>
        </div>
    </div>
    <div class="border border-secondary">
        <div class="row">
            <div class="col-md-4">
                <h3 class="text-left">Frequently Asked Questions</h3>
                <h4>What is the minimum balance after opening an account?</h4>
                <h5>All the customers are provided with a zero balance account upon account creation.</h5>
                <h4>How can a customer change add Nominee details?</h4>
                <h5>The user can route to the nominee details page and either choose to add or delete the nominee
                    details by specifying the relation of the nominee to the account holder.</h5>
                <h4>How can a customer change password?</h4>
                <h5>The account holder can click on forgot password and fill in the details and proceed with the
                    changing the password by entering a new one.</h5>
                <h4>How can a user search for branch details?</h4>
                <h5>The account holder choose either search the branch details by selecting the branch name or by
                    entering the IFSC code.</h5>
                <h4>How to obtain the transaction history?</h4>
                <h5>The account holder can check the transaction history of the account by going to the transaction
                    history page and entering the dates between which the transaction history needs to be obtained.</h5>
            </div>
        </div>
    </div>
</div>

</body>
</html>